<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CLIENT_ID</key>
    <string>167451356712-huk83g7pvmh2atep509dmcqh608sdsvo.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.167451356712-huk83g7pvmh2atep509dmcqh608sdsvo</string>
    <key>API_KEY</key>
    <string>AIzaSyD0V-7x-JyEUvzsAUU8AQmAYrGMfjXtAPs</string>
    <key>GCM_SENDER_ID</key>
    <string>167451356712</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.selftape.selftape</string>
    <key>PROJECT_ID</key>
    <string>selftape-ef381</string>
    <key>STORAGE_BUCKET</key>
    <string>selftape-ef381.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:167451356712:ios:86e129b47987a4f4</string>
    <key>DATABASE_URL</key>
    <string>https://selftape-ef381.firebaseio.com</string>
  </dict>
</plist>
